html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:beffore,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

#pageLamkS #headerLamkS.fixed-header {
    background: none;
    background-color: white;
}

#headerLamkS {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: height .3s;
    background-color: rgba(255, 255, 255, .9);
}

#site-logo a {
    text-decoration: none;
    color: inherit;

}

#site-logo img {
    width: 130px;
}

ul li {
    list-style: none;    
}

ul li a {
    text-decoration: none;
    font-size: 18px;
}

.wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

#site-logo {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.d-flex {
    display: flex;
}

.link-header {
    margin: 0px 8px;
}

ul li.link-header a {
    padding-bottom: 8px;
    color: rgb(22, 185, 185);
}

#header {
    height: 60px;
}